

.button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
    color: var(--color-button);
     
    border: none;
    box-sizing: border-box;
    padding: 14px 15px 15px;
    border-radius: 8px;
    height: 48px;
    display: inline-block;
    }
    
    .button_primary {
      background: var(--background-primary);
    }
    
    .button_primary:hover {
      background: var(--background-primary-hover);
    }

    
    .button_secondary{
      background: var(--background-secondary);
    }
    
    .button_secondary:hover{
      background: var(--background-secondary-hover);
    }

    
    .button_alternate{
      border: 1px solid var(--border-color-alternate);
      box-sizing: border-box;
      color: var(--color-alternate);
    }
    
    .button_alternate:hover{ 
      border: 1px solid var(--border-color-alternate-hover);
    }
    
    
    
    .button:disabled {
     opacity: 0.5;
     cursor: not-allowed;
    }
