@import '../fonts/fonts.css';
@import "normalize.css";

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    
    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

   
   
   
    
    --background-primary: #4263EB;
    --background-primary-hover: #2342C0;
    
    --background-secondary-hover: #5028C6;
    
    
}

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-button: #FFFFFF;
    --background-primary: #4263EB;
    --background-primary-hover: #2342C0;
    --background-secondary: #7048E8;
    --background-secondary-hover: #5028C6;
    --color-alternate: #495057;
    --border-color-alternate: #ACB5BD;
    --border-color-alternate-hover: #212429;
  }